.mitadLogo {
    background-color: #954C95;
}

.logo {
    padding: 15% 0;
    text-align: center;
}

h1 {
padding: 4% 0 34%;
color: #fff;
font-family: 'Abril Fatface', cursive;
}

form {
    padding: 0 15%
}

.fondo {
    background-color: #954c95;
    text-align: center;
}

.logoHead {
    padding: 3% 0;
}

#controlHoras {
    padding: 7% 15%;
}

.btnFin {
    margin: 5% 0 0;
}

h6 {
    padding-top: 5%;
    font-family: 'Merriweather', serif;
    
}

footer {
    background-color: #954c95;
    text-align: center;
    padding: 3% 0;
}

.derechos {
    color:#fff;
    font-size: 0.8rem;
    padding: 3% 0;
}

h3 {
    padding: 0 0 5%;
    font-family: 'Merriweather', serif;
}